__pycache__/
*.py[cod]
.venv/

# Local databases

data/

#env
.env
*.env

# local matches 

matches/

# Local development files
TO-DOs.md
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
