__pycache__/
*.py[cod]
.venv/

# Local databases

data/
*.db

#env
.env
*.env

# local matches 

matches/

# Local development files
TO-DOs.md
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Mac
.DS_Store

# Local export / split projects
Split_Project_TTA_Glicko_WHR/